.bot {
  pointer-events: none;
  position: fixed;
  bottom: 1%;
  right: 4%;
  width: 70px;
  transform-origin: 0% 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-size: 10em;
}

#bg {
  fill: #2da1dc;
}
#sweater > path:nth-child(1) {
  fill: #60d882;
}
#sweater > path:nth-child(2) {
  fill: #37c47a;
}
#sweater > path:nth-child(3) {
  fill: #37c47a;
}
#face > path:nth-child(1) {
  fill: #ffe2b8;
}
#face > path:nth-child(2) {
  fill: #ffc987;
}
#eye > path:nth-child(2) {
  fill: #f0f0f0;
}
#eye > g:first-of-type > path:nth-child(1) {
  fill: #159e97;
}
#eye > g:first-of-type > path:nth-child(2) {
  fill: #0f9390;
}
#eye > g:last-of-type > path:nth-child(2) {
  fill: #231f20;
}
#mouth > path:nth-child(1) {
  fill: #f24976;
}
#mouth > path:nth-child(2) {
  fill: #b7092b;
}
#mouth > path:nth-child(3) {
  fill: #a00026;
}
#mouth > path:nth-child(4) {
  fill: #ffffff;
}
#hair > path:nth-of-type(1) {
  fill: #62317c;
}
#hair > path:nth-of-type(2) {
  fill: #62317c;
}
#hair > path:nth-of-type(3) {
  fill: #62317c;
}

/** chat **/
.chatContainer {
  width: 250px;
  height: 350px;
  background: white;
  position: fixed;
  right: 1%;
  bottom: 15%;
  border-radius: 10px;
  box-shadow: 0 2px 18px rgba(0, 0, 0, 0.19);
}

.innerContainer {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: scroll;
  padding: 8px;
}

.fadeIn {
  opacity: 0;
  animation-name: animate-blur-in;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}

.firstFadeIn {
  animation-delay: 1s;
}

.fadeAway {
  opacity: 1;
  animation-name: animate-blur-out;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes animate-blur-in {
  0% {
    opacity: 0;
    filter: blur(15px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

@keyframes animate-blur-out {
  0% {
    opacity: 1;
    filter: blur(0px);
  }
  100% {
    opacity: 0;
    filter: blur(15px);
  }
}

.xIcon {
  position: fixed;
  top: 6px;
  right: 8px;
  height: 16px;
  width: 16px;
  cursor: pointer;
  color: white;
  z-index: 3;
}

.xIcon:hover {
  opacity: 0.7;
}

.topSection {
  background-color: rgb(109, 72, 169);
  position: fixed;
  top: 0px;
  left: 0px;
  height: 40px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 2;
}

.chatTitle {
  margin: 10px 0 0 10px;
  font-weight: 600;
  color: white;
}

.conversationContainer {
  position: absolute;
  top: 40px;
  padding: 8px;
}

.sentenceContainer {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  animation-fill-mode: forwards;

  opacity: 0;
  animation-name: animate-pop;
  animation-timing-function: ease;
}

.userSentence {
  flex-direction: row-reverse;
}

.immediateDelay {
  animation-duration: 0.2s;
}

.afterShortDelay1 {
  animation-duration: 0.2s;
  animation-delay: 1.2s;
}

.afterShortDelay2 {
  animation-duration: 0.2s;
  animation-delay: 1.5s;
}

.twoSecDelay {
  animation-duration: 0.3s;
  animation-delay: 2s;
}

.threeSecDelay {
  animation-duration: 0.2s;
  animation-delay: 2.5s;
}

.time {
  color: gray;
  font-size: 12px;
  margin-top: 4px;
}

@keyframes animate-pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

.botAvatar {
  width: 45px;
  height: 35px;
  border-radius: 50%;
  margin-right: 4px;
}

.userIcon {
  width: 45px;
  height: 35px;
  border-radius: 50%;
  margin-right: 4px;
}

.sentence {
  padding: 8px;
  background-color: #f5f5f5;
  color: black;
  border-radius: 10px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.upArrowContainer {
  position: fixed;
  right: 5.5%;
  bottom: 5%;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: 90px;
  height: 80px;
}

.actionsContainer {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
}

.actionAnimation {
  animation-fill-mode: forwards;

  opacity: 0;
  animation-name: fade;
  animation-timing-function: ease;
}

.action {
  font-size: 14px;
  border: 1px solid rgb(109, 72, 169);
  padding: 6px;
  color: rgb(109, 72, 169);
  border-radius: 5px;
  cursor: pointer;
}

.action:hover {
  background-color: rgb(109, 72, 169);
  color: white;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
