.app-container {
  border: 1px solid green;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 2%;
}

.hero-section {
  display: flex;
  background-color: rgb(48, 48, 48);
}
