body {
  margin: 0;
  font-family: "Epilogue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h2 {
  font-size: 2.2vmax;
  margin: 0;
}

h1 {
  font-size: 3vmax;
  margin: 0;
}
